= link_to "https://twitter.com/martijn_bleeker" do
  .icon.twitter
= link_to "https://facebook.com/martijn.bleeker" do
  .icon.facebook
= link_to "https://www.linkedin.com/pub/martijn-bleeker/3/585/23a" do
  .icon.linkedin
= link_to "https://flickr.com/martijn_bleeker" do
  .icon.flickr
= link_to "https://github.com/martijnbleeker" do
  .icon.github
= link_to "mailto:contact@thebleacher.com" do
  .icon.email
