= link_to nil, "https://twitter.com/martijn_bleeker", class: "icon twitter"
= link_to nil, "https://facebook.com/martijn.bleeker", class: "icon facebook"
= link_to nil, "https://www.linkedin.com/pub/martijn-bleeker/3/585/23a", class: "icon linkedin"
= link_to nil, "https://flickr.com/martijn_bleeker", class: "icon flickr"
= link_to nil, "https://github.com/martijnbleeker", class: "icon github"
= link_to nil, "mailto:contact@thebleacher.com", class: "icon email"
